body{
    background-color: burlywood;
}
table{
    border: 1px black solid;
    margin: 50px;
}
table td{
    border: 1px black solid;
    padding: 20px;
}
header{
    text-align: center;
    color: brown;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color:brown;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p ul li{
    color: brown;
    font-size:25px ;
}
