*{
    padding: 0px;
    margin:0px;
}
body{
    background-color: rgb(151, 162, 184);
}
table{
    border: 1px black solid;
    margin: 50px;
}
table td{
    border: 1px black solid;
    padding: 20px;
}

